data/Emerge_MAGs_v*
data/SingleM_otu_tables_v*
data/DRAM_summarise_comparison_v*
data/EMERGE_distillate_v*
data/DRAM_distillate_v*
data/Manual_methanogen_calls_v*
data/DRAM_annotations_v*
data/Emerge_metaTs_v*
data/Emerge_metaTs_processed_v*
data/AA_frequencies_v*

.Rproj.user
.RData
.Rhistory
.vscode
.RDataTmp*
temporal_paper.Rproj

*.html
*.pdf
*.png
*.svg

testing/
__pycache__/

Assembly-analysis/slurm/*.output
Assembly-analysis/figures/*
Assembly-analysis/figures/*.png
Assembly-analysis/outputs/module_assembly/tmp*
Assembly-analysis/outputs/tmp*
Assembly-analysis/outputs/*/*.png
Assembly-analysis/outputs/*.png
Assembly-analysis/outputs/mcorr*
Assembly-analysis/outputs/module_assembly/*.RDS
Assembly-analysis/outputs/module_assembly/null_bray_curtis*
Assembly-analysis/outputs/null_bray_curtis*
Assembly-analysis/outputs/all_module_otus/*.RDS
Assembly-analysis/outputs/palsa_module_otus/*.RDS
Assembly-analysis/outputs/bog_module_otus/*.RDS
Assembly-analysis/outputs/fen_module_otus/*.RDS
Assembly-analysis/outputs/*.RDS

metadata_availability/figures/*

Metabolic-analysis/00_MAG_overview/correlations/*.csv

# non-public data files:
identifying-outlier-years/data/ANS/*
identifying-outlier-years/data/cached-queries/*
identifying-outlier-years/data/WeatherHawk/*
data/WeatherData/*
